.step {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 44px;
  padding: 0 28px;
}

.step_container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.step_detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1165px;
  margin: auto;
}

.step_title {
  font-size: 40px;
  font-family: montserrat-bold;
  font-weight: 700;
  margin-bottom: 20px;
}

.step_detail_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step_detail_info_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.step_detail_info_name {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  font-family: inter-semibold;
  background-color: black;
  margin-bottom: 10px;
  background-size: 150px 150px; 
}

.step_detail_img {
  width: 150px;
  height: 150px;
}

.step_detail_info_title {
  font-size: 20px;
  font-family: inter-semibold;
  max-width: 186px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .step_detail_info_name {
    width: 100px;
    height: 100px;
  }

  .step_detail_info_container img {
    width: 30px;
  }
}

@media screen and (max-width: 792px) {
  .step_detail_info_container img {
    display: none;
  }

  // .step_detail {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }
}

@media screen and (max-width: 768px) {
  .step_title {
    font-size: 36px;
  }
}

@media screen and (max-width: 531px) {
  .step_detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .step_detail_info_container {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 480px) {
  .step {
    margin-bottom: 0;
  }
  .step_title {
    font-size: 20px;
  }
}
