* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: montserrat-regular;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: montserrat-bold;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: montserrat-bold;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
